* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  overflow-x: hidden;
}
.hamburger {
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger span:hover {
  background-color: #07874b;
}
.hamburger span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Active state - transform into a cross */
.hamburger.active span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  align-items: center;
  background-color: #0F4E31;
  width: 100%;
  /* height: 500px; */

}

.left {
  display: flex;
  justify-content: center;
  color: white;
  gap: 7px;
  align-items: center;
}

.left h1 {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.left {
  display: flex;
  justify-content: center;
  color: white;
  gap: 7px;
  align-items: center;
  position: relative;
}

/* DEFAULT HAMBURGER STYLING */
.hamb-drop i {
  font-size: 22px;
  cursor: pointer;
}

.wholedrop.active {
  display: block;
}

.wholedrop {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0F4E31;
  color: white;
  display: none;
  padding-top: 70px;
  padding-left: 110px;
  z-index: 1000;
}

.mega-menu {
  display: flex;
}

/* LEFT LIST */

.menu-left ul li {
  padding: 12px 0;
  color: white;
  cursor: pointer;
}

.menu-left ul li:hover {
  color: #9bf9ce;
}

.list-1 {
  line-height: 20px;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 27px;
}

.list-2 {
  font-size: 24px;
  font-weight: 700;
}

.list-3 {
  line-height: 20px;
  font-size: 24px;
  font-weight: 700;
  padding-top: 27px;
}

.list-4 {
  line-height: 16px;
  font-size: 24px;
  font-weight: 700;
  padding-top: 27px;
}

.list-5 {
  font-size: 1.1em;
  font-weight: 100;
  line-height: 10px;
  padding-top: 27px;
  padding-bottom: 150px;
}

/* RIGHT CONTENT */
.trend-slider-wrapper {
  padding-left: 70px;
  position: relative;
  width: 80%;
}

.trend-slider {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 12px 60px;
  -webkit-overflow-scrolling: touch;
}

.trend-slider::-webkit-scrollbar {
  height: 8px;
}

.trend-slider::-webkit-scrollbar-thumb {
  background: red;
  display: none;
  border-radius: 8px;
}

.trend-card {
  /* min-width: 120px; */
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  transition: transform 0.25s ease;
}

.trend-card img {
  display: block;
  width: 350px;
  height: 240px;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.trend-card:hover {
  transform: translateY(-8px);
}

.trend-card:hover img {
  transform: scale(1.04);
  filter: brightness(0.95);
}

.trend-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 114px;
  border-radius: 5px;
  border: none;
  background: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  cursor: pointer;
  transition: background 0.2s ease;
}

.trend-btn:hover {
  background: #303030;
}

.trend-left-btn {
  left: -26px;
}

.trend-right-btn {
  right: -36px;
  display: none;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle img {
  width: 40px;
}

.right {
  display: flex;
  color: white;
  font-size: 1.1em;
  gap: 3.3em;
  justify-content: center;
  align-items: center;
}

/* heart */
#heartIcon {
  font-size: 1.3rem;
  cursor: pointer;
  /* looks like a link */
  transition: 0.3s;
}

#heartIcon.liked {
  color: #ff4da6;
  /* pink color when clicked */
}




.section {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* section1 */
.sct-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.sct-1 h1 {
  font-size: 4.3em;
  /* line-height: 70px; */
  width: 900px;
  -webkit-overflow-scrolling: none;
  font-weight: 700;
  color: white;
}

.sct-1 h4 {
  font-size: 16px;
  color: white;
  font-weight: 50;
}

.sct-1 a {
  display: inline-block;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  border-radius: 99rem;
  border-width: 2px;
  background: rgba(152, 151, 154, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 0.8rem 1.7rem;
}

.sct-1 a i {
  font-size: 13px;
}

.sct-1 a:hover {
  background: rgba(152, 151, 154, 0.35);
  border-color: rgba(152, 151, 154, 0.6);
}
@media (max-width: 768px) {
  .sct-1 h1 {
    font-size: 2.5em;
    width: 90vw;
  }
}
/* Section colors for testing */
.two {
  background-color: black;
}

/* SECTION3 */
.sct-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.sct-3 h1 {
  font-size: 4.3em;
  /* line-height: 70px; */
  width: 900px;
  -webkit-overflow-scrolling: none;
  font-weight: 700;
  color: white;
}

.sct-3 h4 {
  font-size: 16px;
  color: white;
  font-weight: 50;
}

.sct-3 a {
  display: inline-block;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  border-radius: 99rem;
  border-width: 2px;
  background: rgba(152, 151, 154, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 0.8rem 1.7rem;
}

.sct-3 a i {
  font-size: 13px;
}

.sct-3 a:hover {
  background: rgba(152, 151, 154, 0.35);
  border-color: rgba(152, 151, 154, 0.6);
}
@media (max-width: 768px) {
  .sct-3 h1 {
    font-size: 2.5em;
    width: 90vw;
  }
}
/* section4 */
.sct-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.sct-4 h1 {
  font-size: 4.3em;
  /* line-height: 70px; */
  width: 900px;
  -webkit-overflow-scrolling: none;
  font-weight: 700;
  color: white;
}

.sct-4 h4 {
  font-size: 16px;
  color: white;
  font-weight: 50;
}

.sct-4 a {
  display: inline-block;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  border-radius: 99rem;
  border-width: 2px;
  background: rgba(152, 151, 154, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 0.8rem 1.7rem;
}

.sct-4 a i {
  font-size: 13px;
}

.sct-4 a:hover {
  background: rgba(152, 151, 154, 0.35);
  border-color: rgba(152, 151, 154, 0.6);
}
@media (max-width: 768px) {
  .sct-4 h1 {
    font-size: 2.5em;
    width: 90vw;
  }
}
/* section5 */
.sct-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.sct-5 h1 {
  font-size: 4.3em;
  /* line-height: 70px; */
  width: 900px;
  -webkit-overflow-scrolling: none;
  font-weight: 700;
  color: white;
}

.sct-5 h4 {
  font-size: 16px;
  color: white;
  font-weight: 50;
}

.sct-5 a {
  display: inline-block;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 500;
  color: white;
  border-radius: 99rem;
  border-width: 2px;
  background: rgba(152, 151, 154, 0.25);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 0.8rem 1.7rem;
}

.sct-5 a i {
  font-size: 13px;
}

.sct-5 a:hover {
  background: rgba(152, 151, 154, 0.35);
  border-color: rgba(152, 151, 154, 0.6);
}
@media (max-width: 768px) {
  .sct-5 h1 {
    font-size: 2.5em;
    width: 90vw;
  }
}
.footer-section {
  border-top: 1px solid #e5e5e5;
}
.social-media{
  height: 13vh;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1em;
  width: 100%;
  padding-left: 130px;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.fa-brands{
  color: #127749;
  display: flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}
.social-media h1{
  font-size: 1em;
  font-weight:  600;
}

/* Footer */
.footer {
  padding: 60px 80px;
  background-color: #F8F8F8;
}
.footer-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr 2fr;
  gap: 60px;
}
.footer-logo img {
  width: 90px;
}
.footer-column h3 {
  color: #212121;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}
.footer-column h4 {
  font-size: 22px;
  font-weight: 600;
  padding-top: 10px;
  color: #212121;
}
.footer-column ul li{
  list-style: none;
  font-size: 17.0006px;
  color: #212121;
  font-weight: 500;
}
/* Responsive */
@media (max-width: 1024px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .share-bar,
  .footer {
    padding: 20px;
  }
  .social-media {
    padding-left: 20px;
  }
}
.hero-section {
  position: relative;
  background: url('./images/sun.jpg') center/cover no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-top: 0px; 
  overflow: hidden; 
}
.bagi{
  background-color: rgba(0, 0, 0, 0.348);
  height: 2px;
  width: 1040px;
  margin-left: 115px;
}
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6.7rem;
  background-color: #F8F8F8;
  border-bottom: 1px solid #ddd;
}
.left {
  display: flex;
  align-items: center;
  gap: 4px;
}
.left i {
  font-size: 18px;
  color: #212121;
}
.left h1 {
  font-size: 20px;
  color: #212121;
  font-weight: 530;
}
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.toggle {
  display: flex;
  align-items: center;
  color: #212121;
  gap: 6px;
  cursor: pointer;
}
.toggle input {
  accent-color: #000;
  width: 18px;
  height: 18px;
}
.title {
  font-size: 2.7em;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.link a {
  font-size: 1.2rem;
  font-weight: 550;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition: color 0.3s, border-color 0.3s;
  overflow: hidden; 
}
.link a:hover {
  color: #ffd700;
  border-color: #ffd700;
}

